.btn-update {
  background-image: linear-gradient(
    to right,
    #4cb8c4 0%,
    #3cd3ad 51%,
    #4cb8c4 100%
  );

  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  
}

.btn-update:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-delete {
  background-image: linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 51%,
    #e52d27 100%
  );

  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  border-radius: 10px;
   
}

.btn-delete:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
